* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 28px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-bottom: 20px;
}

.product:last-child {
    margin-right: 0;
}

.product:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product-info {
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}

.add-to-cart-button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #d63c3c;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.home-button {
    margin-bottom: 20px;
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

.home-button:hover {
    background-color: #ad0606;
}