<!DOCTYPE html>
<html>
<head>
    <title>Groceries</title>
    <link rel="stylesheet" href="groceries.css">
</head>
<body>
    <div class="container">
        <a href="homepage.html" class="home-button">Home</a>
        <h2>Groceries</h2>
        <h1>Welcome, {{ username }}</h1>
        <div class="product-list">
            {% for products in product %}
            <div class="product">
                <img src="{{ url_for('static',filename='images/'+products[-1].strip()) }}" alt="Product Image">
                <div class="product-info">
                    <h3>{{ products[1] }}</h3>
                    <p>{{ products[0] }}</p>
                    <p class="price">Rs.{{ products[2] }}</p>
                </div>
                <button type="button" class="add-to-cart-button">
                    <span class="add-to-cart-icon">&#128722;</span>
                    Add to Cart
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        Enjoy Shopping
    </footer>
</body>
</html>
