<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <h1>Login</h1>
        <form method="POST" action="/user">
            <label for="user_id">User ID:</label>
            <input type="text" id="user_id" name="user_id" required><br><br>
            
            <label for="user_password">Password:</label>
            <input type="password" id="user_password" name="user_password" required><br><br>
            
            <input type="submit" value="Add User">
        </form>
        
        <div class="register-section">
            <h2>New User?</h2>
            <p>Create an account to join our Family.</p>
            <a href="register.html">Register here</a>
        </div>
    </div>
</body>
</html>
